/* ToastAnimations.css */
.toast-enter {
    opacity: 0;
    transform: translateY(-20px);
}
.toast-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.toast-exit {
    opacity: 1;
    transform: translateY(0);
}
.toast-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}
  